/*
Primary Color: #673ab7
Secondary Color: #9a67ea & #320b86
Accent: #64b5f6
*/

body {
  width: 100%;
  font-family: "Roboto Condensed",sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  width: 480px;
  margin: 5px;
}

span{
  font-size: 60px;
}

video {
  width: 960px;
  height: 540px;
}

.outer {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.inner{
    width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.inner div{
  display: flex;
  justify-content: center;
}

.colored_background {
  background-color: #673ab7;
  color: white;
}
